@{
    ViewData["Title"] = "Sobre";
}

<h2>Principais pontos a serem melhorados no sistema</h2>
<ul>
    <li>Tratamento de exceções e erros;</li>
    <li>Reutilização de código HTML (a utilização de um framework front-end baseado em componentes, como o Angular ou React.JS, agilizaria o desenvolvimento e a manutenção do sistema);</li>
    <li>Padronizãção da nomenclatura no código JavaScript;</li>
    <li>Inclusão de testes funcionais e unitários.</li>
</ul>
