@{
    ViewData["Title"] = "Sobre";
}

<style>
    section:first-of-type {
        margin-bottom: 25px;
    }

        section:first-of-type > * {
            display: block;
        }
</style>

<section>
    <h2>Dados do Candidato</h2>
    <span><b>Nome</b>: Gustavo Dias Borges Peres</span>
    <span><b>E-Mail</b>: gdbperes@gmail.com</span>
    <span><b>Celular (WhatsApp)</b>: +55 61 92000-0471</span>
    <span><b>Celular (apenas ligações)</b>: +55 61 99683-7287</span>
</section>
<section>
    <h2>Principais pontos a serem melhorados no sistema</h2>
    <ul>
        <li>Tratamento de exceções e erros;</li>
        <li>Reutilização de código HTML (a utilização de um framework front-end baseado em componentes, como o Angular ou React.JS, agilizaria o desenvolvimento e a manutenção do sistema);</li>
        <li>Padronizãção da nomenclatura no código JavaScript;</li>
        <li>Inclusão de testes funcionais e unitários.</li>
    </ul>
</section>
