@using ClimaTempo.Models.ViewModels
@using ClimaTempo.Views.Shared.Components
@{
    ViewData["Title"] = "Clima";
}
<div class="rank-cards">
    <div class="card rank-card">
        <div>
            <h3>Cidades mais quentes hoje</h3>
        </div>
        <div id="top3Hottest"></div>
    </div>
    <div class="card rank-card">
        <div>
            <h3>Cidades mais frias hoje</h3>
        </div>
        <div id="top3Coldest"></div>
    </div>
</div>

<div class="overview">
    <div>
        <label for="city">Cidade:</label>
        <select name="city" id="citySelect" class="form-control"></select>
    </div>
    <div id="overviewCards" class="overview-cards"></div>
</div>